<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Emterviewer</title>
    <meta name="description" content="Interviewer App written in EmberJS">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <img class="pull-left media-object" height="50" src="/img/logo.png" alt="B-)" > 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> Emn-terviewer</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a>
                    </li>
                    <li><a href="/interviewers">Interviewers</a>
                    </li>
                    <li><a href="/engagements">Engagements</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <script type="text/x-handlebars" data-template-name="goals">
        <div class="container">
            <div class="page-header">

                <div class="media">
                    <a class="pull-right" href="#">
                        <img class="media-object" src="/img/logo.png" alt="B-)">
                    </a>
                    <div class="media-body">
                        <h1 class="media-heading">Emn-terviewer</h1>
                        <p class="lead">Made by yours truly.</p>
                    </div>
                </div>
            </div>


            <section class="goals">
                <h2>Goals</h2>
                <ol class="item-list">
                    {{#each itemController="goal"}}
                    <li {{bind-attr class="isDone:completed"}}>
                        {{input type="checkbox" checked=isDone class="toggle"}}
                        <label>{{title}}</label>
                    </li>
                    {{/each}}
                    <li> 
                        {{input class="form-control" type="text" id="new-todo" placeholder="What needs to be done?" value=newTitle action="createGoal"}}
                    </li>
                </ol>
            </section>
        </div>
    </script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Application requirements -->
    <script src="/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/js/vendor/handlebars-1.0.0.js"></script>
    <script src="/js/vendor/ember.js"></script>
    <script src="/js/vendor/ember-data.js"></script>

    <!-- Application files -->
    <script src="/app/application.js"></script>
    <script src="/app/router.js"></script>
    <script src="/app/models/goal.js"></script>
    <script src="/app/controllers/goals_controller.js"></script>
</body>

</html>